@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.cdnfonts.com/css/arcade-classic');


/* START SCREEN */
.start-screen {
    position:fixed;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(251, 253, 255, 0.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: #1a46a6;
}

.start-button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.menu-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 110px;
}

.start-img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

/* AFTER START SCREEN MESSAGE
https://css-tricks.com/snippets/css/typewriter-effect/     How I got the typewriter CSS
*/

html{
    min-height: 100%;
    overflow: hidden;
}

.continue-button{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: inherit;
}

.reset-button {
    position: absolute;
    top: 15%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #8336ad;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: inherit;
}

.skip-button {
    position: absolute;
    top: 115%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ad3636;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    visibility: visible;
    z-index: inherit;
}

.first-message{
    max-width: 100%;
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(249, 249, 249, 0.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}


.line-1 {
    position: fixed;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #191919;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.line-2{
    position: fixed;
    top: 55%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #191919;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}

  /* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 0ms steps(44) infinite normal;
    animation-play-state: paused;
}

.anim-typewriter2{
    animation: typewriter 4s steps(44) 4.5s 1 normal both,
    blinkTextCursor 0ms steps(44) infinite normal;
    animation-play-state: paused;
}

.play-animation .anim-typewriter,
.play-animation .anim-typewriter2 {
    animation-play-state: running;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
}

@keyframes blinkTextCursor{
    from{border-right-color: #191919;}
    to{border-right-color: transparent;}
}


/* BATTLE SCREEN */

.battle-screen {
    position:fixed;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: calc(100vh - 8em);
    padding: 0;
    color: rgba(205, 73, 36, 0.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: #1a46a6;
}

.knight {
    position: fixed;
    margin:0;
    top: 55vmin;;
    left: 65vmin;
    width: 10%;
    padding: 0;
}

.golem {
    position: fixed;
    margin:0;
    top: 55vmin;
    left: 130vmin;
    width: 10%;
    padding: 0;
}

.fight-button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: inherit;
}

.combat-log {
    display: flex;
    flex-direction: column;
    position: fixed;
    height:20%;
    width:100%;
    border:1px solid #4e4e4e;
    font:16px Arial, Serif;
    overflow:auto;
    left: 00%;
    top: 80%;
    white-space: pre-line;
}

.you-win-message {
    position: absolute;
    font-family: 'ArcadeClassic', sans-serif;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 10vmin;
}

.mute-button {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: inherit;
}

#overlay {
    position: absolute;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #191919; /* Black background with opacity */
    z-index: -10; 
    cursor: default;
}

.game-over-mute-button {
    position: absolute;
    top: 9%;
    left: 92%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: inherit;
}

.game-over-reset-button {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #8336ad;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: inherit;
}